@model Themes.PersonalBlog.Areas.PersonalBlog.Models.LeftFeatureModel
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    @Model.Title
                </h2>
                <p class="lead">
                    @Model.Content
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" style="width: 500px; height: 500px" src="@(Model.Media.Link)"
                     alt="@(Model.Media.Alt)">
            </div>
        </div>
    </div>
