<h3 mat-dialog-title>Form Shell Option</h3>
<mat-dialog-content>
    <form [formGroup]="shellFormGroup">
        <div class="form-group row">
            <div class="col-lg-6">
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Enter Shell Key" formControlName="key" />
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Enter Shell Value" formControlName="value" />
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>&nbsp;
    <button mat-button (click)="onSubmittingShellOption()" color="primary">Save</button>
</mat-dialog-actions>