<div class="filter-wrapper">
    <ng-container *ngIf="!isSmallDevice">
        <div class="row align-items-center">
            <div class="col-md-4" *ngIf="enableSearch">
                <mat-form-field class="field-full-width">
                    <input matInput
                        placeholder="{{ 'pageRender.dynamicList.filters.searchBox.placeholder' | translate }}"
                        [(ngModel)]="textSearch">
                </mat-form-field>
            </div>
            <div class="col-md-2" *ngIf="enableSearch || enableAdvancedSearch">
                <button (click)="onSearchClick()" mat-raised-button matTooltip="{{ 'pageRender.dynamicList.filters.buttons.search' | translate }}" color="primary" type="button"
                    class="">
                    <span>{{ 'pageRender.dynamicList.filters.buttons.search' | translate }}</span>
                </button>
            </div>
            <div class="col-md-2" *ngIf="enableAdvancedSearch">
                <mat-slide-toggle [(ngModel)]="isOpeningAdvancedMode" name="isOpeningAdvancedMode"
                    (change)="onAdvancedSearchChange()">{{ 'pageRender.dynamicList.filters.advancedMode' | translate }}
                </mat-slide-toggle>
            </div>
        </div>
        <div class="row align-items-center pt-2" *ngIf="isOpeningAdvancedMode">
            <ng-container *ngFor="let filterOption of filterOptions">
                <div class="col-md-2">
                    <mat-form-field class="field-full-width">
                        <mat-select placeholder="{{ 'pageRender.dynamicList.filters.selectFieldSearch' | translate }}"
                            [(ngModel)]="filterOption.fieldName" (selectionChange)="onFieldNameSelected(filterOption)">
                            <mat-option *ngFor="let filter of filters" [value]="filter.name">
                                {{ filter.displayName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="field-full-width">
                        <mat-select placeholder="{{ 'pageRender.dynamicList.filters.selectOperator' | translate }}"
                            [(ngModel)]="filterOption.filterOperator"
                            [disabled]="filterOption.filterOperators.length == 1">
                            <mat-option *ngFor="let operator of filterOption.filterOperators" [value]="operator.value">
                                {{ operator.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="filterOption.filterValueType == fieldValueType.Text">
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder="{{ 'pageRender.dynamicList.filters.fieldValue' | translate }}"
                            [(ngModel)]="filterOption.fieldValue">
                    </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="filterOption.filterValueType == fieldValueType.Checkbox">
                    <mat-checkbox [(ngModel)]="filterOption.fieldValue">
                    </mat-checkbox>
                </div>
                <div class="col-md-2" *ngIf="filterOption.filterValueType == fieldValueType.Slide">
                    <mat-slide-toggle [(ngModel)]="filterOption.fieldValue"></mat-slide-toggle>
                </div>
                <div class="col-md-2" *ngIf="filterOption.filterValueType == fieldValueType.DatePicker">
                    <mat-form-field class="field-full-width">
                        <input matInput [matDatepicker]="picker"
                            placeholder="{{ 'pageRender.dynamicList.filters.datePicker.placeholder' | translate }}"
                            [(ngModel)]="filterOption.fieldValue">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-2" *ngIf="filterOption.filterValueType == fieldValueType.Select">
                    <mat-form-field class="field-full-width">
                        <mat-select
                            placeholder="{{ 'pageRender.dynamicList.filters.selectPick.placeholder' | translate }}"
                            [(ngModel)]="filterOption.fieldValue"
                            [disabled]="filterOption.filterDataSource.length == 1">
                            <mat-option *ngFor="let filter of filterOption.filterDataSource" [value]="filter.value">
                                {{ filter.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="field-full-width">
                        <mat-select
                            placeholder="{{ 'pageRender.dynamicList.filters.selectCombinationPick.placeholder' | translate }}"
                            [(ngModel)]="filterOption.filterChainOperator"
                            (selectionChange)="onCombineOperatorValueChange($event)">
                            <mat-option *ngFor="let combineOperator of combineOperators$ | async"
                                [value]="combineOperator.value">
                                {{ combineOperator.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                </div>
            </ng-container>
        </div>
    </ng-container>
    <!-- Tablet & Mobile -->
    <ng-container *ngIf="isSmallDevice">
        <div class="row align-items-center">
            <div class="col-md-12" *ngIf="enableSearch">
                <mat-form-field class="field-full-width">
                    <input matInput
                        placeholder="{{ 'pageRender.dynamicList.filters.searchBox.placeholder' | translate }}"
                        [(ngModel)]="textSearch">
                    <button mat-icon-button matSuffix (click)="onSearchClick()" style="font-size: 24px;">
                        <mat-icon inline="true">search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="enableAdvancedSearch">
                <mat-slide-toggle [(ngModel)]="isOpeningAdvancedMode" name="isOpeningAdvancedMode"
                    (change)="onAdvancedSearchMobileChange()">
                    {{ 'pageRender.dynamicList.filters.advancedMode' | translate }}</mat-slide-toggle>
            </div>
        </div>
        <div class="row align-items-center d-flex">
            <div class="col-12 pt-3" *ngIf="isOpeningAdvancedMode">
                <div class="row" style="height: 40px;">
                    <div class="col-3 d-flex align-items-center">
                        <b>
                            {{ 'pageRender.dynamicList.filters.advancedMode.filed' | translate }}
                        </b>
                    </div>
                    <div class="col-3 d-flex align-items-center"><b>{{ 'pageRender.dynamicList.filters.advancedMode.operator' | translate }}</b></div>
                    <div class="col-3 d-flex align-items-center"><b>{{ 'pageRender.dynamicList.filters.advancedMode.value' | translate }}</b></div>
                    <div class="col-3 d-flex align-items-center"></div>
                </div>
            </div>
            <div class="separator-dashed" style="width: 90%" *ngIf="isOpeningAdvancedMode"></div>
            <ng-container *ngFor="let filterOption of filterOptions; index as i">
                <div class="col-12">
                    <div class="row" style="height: 40px;">
                        <div class="col-3 d-flex align-items-center"><b>{{translateHeader(filterOption.fieldName)}}</b>
                        </div>
                        <div class="col-3 d-flex align-items-center">{{translateOperator(filterOption.filterOperator)}}
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            {{translateFieldValue(filterOption, filterOption.fieldValue)}}</div>
                        <div class="col-3 d-flex align-items-center">
                            <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Toggle menu" 
                                [hidden]="filterOption.filterChainOperator !== filterChainOperatorType.None">
                                <mat-icon>add</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" yPosition="above">
                                <button mat-menu-item (click)="addFilterAnd(filterOption)">
                                    {{ 'pageRender.dynamicList.filters.advancedMode.add' | translate }}
                                </button>
                                <button mat-menu-item (click)="addFilterOr(filterOption)">
                                    {{ 'pageRender.dynamicList.filters.advancedMode.or' | translate }}
                                </button>
                                <button mat-menu-item (click)="removeFilter(filterOption)" *ngIf="i > 0">
                                    {{ 'pageRender.dynamicList.filters.advancedMode.remove' | translate }}
                                </button>
                            </mat-menu>
                        </div>                       
                    </div>
                    <div class="row" style="height: 40px;">
                        <div class="col-12 d-flex align-items-center"
                        *ngIf="filterOption.filterChainOperator !== filterChainOperatorType.None">
                        {{translateChainOperator(filterOption.filterChainOperator)}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <!-- /End -->
</div>