<div class="grid-container">
    <div class="row">
        <ng-container *ngFor="let app of loadingApps$ | async">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 tile">
                <div class="text-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div style="font-size: 50px;">
                        <mat-icon [inline]="true">{{app.app.logo}}</mat-icon>
                    </div>
                    <div>
                        <h6>{{app.app.displayName}}</h6>
                    </div>
                    <div class="d-flex justify-content-center">
                        <mat-bar-button class="d-flex justify-content-center" (btnClick)="onSelectingApp(app)"
                            [options]="app.btnOption"></mat-bar-button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>