@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';

// ------------------------------
// Material 19 custom theme setup
// ------------------------------
@include mat.core();

$azure-blue-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette
  )
));
$azure-blue-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette
  )
));

$rose-red-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
    tertiary: mat.$red-palette
  )
));
$rose-red-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$rose-palette,
    tertiary: mat.$red-palette
  )
));

$magenta-violet-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette
  )
));
$magenta-violet-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette
  )
));

$cyan-orange-light: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette
  )
));
$cyan-orange-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette
  )
));

// Recreated Angular Material prebuilt themes (Angular 16) via SCSS
$legacy-warn: mat.m2-define-palette(mat.$m2-red-palette);

$deep-purple-amber-primary: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$deep-purple-amber-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$deep-purple-amber-light: mat.m2-define-light-theme($deep-purple-amber-primary, $deep-purple-amber-accent, $legacy-warn);
$deep-purple-amber-dark: mat.m2-define-dark-theme($deep-purple-amber-primary, $deep-purple-amber-accent, $legacy-warn);

$indigo-pink-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$indigo-pink-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$indigo-pink-light: mat.m2-define-light-theme($indigo-pink-primary, $indigo-pink-accent, $legacy-warn);
$indigo-pink-dark: mat.m2-define-dark-theme($indigo-pink-primary, $indigo-pink-accent, $legacy-warn);

$pink-blue-grey-primary: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$pink-blue-grey-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$pink-blue-grey-light: mat.m2-define-light-theme($pink-blue-grey-primary, $pink-blue-grey-accent, $legacy-warn);
$pink-blue-grey-dark: mat.m2-define-dark-theme($pink-blue-grey-primary, $pink-blue-grey-accent, $legacy-warn);

$purple-green-primary: mat.m2-define-palette(mat.$m2-purple-palette);
$purple-green-accent: mat.m2-define-palette(mat.$m2-green-palette);
$purple-green-light: mat.m2-define-light-theme($purple-green-primary, $purple-green-accent, $legacy-warn);
$purple-green-dark: mat.m2-define-dark-theme($purple-green-primary, $purple-green-accent, $legacy-warn);

@mixin app-card-vars($theme) {
  $theme-version: mat.get-theme-version($theme);
  $surface: null;
  $on-surface: null;
  $primary: null;

  @if $theme-version == 0 {
    // Legacy M2 theme objects
    $surface: map.get(map.get($theme, background), card);
    $on-surface: map.get(map.get($theme, foreground), text);
    $primary: mat.m2-get-color-from-palette(map.get($theme, primary));
  }
  @else {
    $theme-type: mat.get-theme-type($theme);
    // Approximate surface/text using neutral palette stops on M3 theme objects
    $surface: if($theme-type == light, mat.get-theme-color($theme, neutral, 98), mat.get-theme-color($theme, neutral, 10));
    $on-surface: if($theme-type == light, mat.get-theme-color($theme, neutral, 10), mat.get-theme-color($theme, neutral, 90));
    $primary: mat.get-theme-color($theme, primary);
  }

  --app-card-surface: #{$surface};
  --app-card-on-surface: #{$on-surface};
  --app-card-primary: #{$primary};
  --app-card-border: #{rgba($on-surface, 0.08)};
  --app-card-shadow-rgb: 0, 0, 0;
}

// Default theme (light azure-blue)
:root {
  @include mat.all-component-themes($azure-blue-light);
  @include app-card-vars($azure-blue-light);
}

// Per-theme overrides (apply full theme to get color + tokens)
[data-theme="azure-blue"][data-theme-mode="dark"] {
  @include mat.all-component-themes($azure-blue-dark);
  @include app-card-vars($azure-blue-dark);
}

[data-theme="rose-red"][data-theme-mode="light"] {
  @include mat.all-component-themes($rose-red-light);
  @include app-card-vars($rose-red-light);
}
[data-theme="rose-red"][data-theme-mode="dark"] {
  @include mat.all-component-themes($rose-red-dark);
  @include app-card-vars($rose-red-dark);
}

[data-theme="magenta-violet"][data-theme-mode="light"] {
  @include mat.all-component-themes($magenta-violet-light);
  @include app-card-vars($magenta-violet-light);
}
[data-theme="magenta-violet"][data-theme-mode="dark"] {
  @include mat.all-component-themes($magenta-violet-dark);
  @include app-card-vars($magenta-violet-dark);
}

[data-theme="cyan-orange"][data-theme-mode="light"] {
  @include mat.all-component-themes($cyan-orange-light);
  @include app-card-vars($cyan-orange-light);
}
[data-theme="cyan-orange"][data-theme-mode="dark"] {
  @include mat.all-component-themes($cyan-orange-dark);
  @include app-card-vars($cyan-orange-dark);
}

[data-theme="deep-purple-amber"][data-theme-mode="light"] {
  @include mat.all-component-themes($deep-purple-amber-light);
  @include app-card-vars($deep-purple-amber-light);
}
[data-theme="deep-purple-amber"][data-theme-mode="dark"] {
  @include mat.all-component-themes($deep-purple-amber-dark);
  @include app-card-vars($deep-purple-amber-dark);
}

[data-theme="indigo-pink"][data-theme-mode="light"] {
  @include mat.all-component-themes($indigo-pink-light);
  @include app-card-vars($indigo-pink-light);
}
[data-theme="indigo-pink"][data-theme-mode="dark"] {
  @include mat.all-component-themes($indigo-pink-dark);
  @include app-card-vars($indigo-pink-dark);
}

[data-theme="pink-blue-grey"][data-theme-mode="light"] {
  @include mat.all-component-themes($pink-blue-grey-light);
  @include app-card-vars($pink-blue-grey-light);
}
[data-theme="pink-blue-grey"][data-theme-mode="dark"] {
  @include mat.all-component-themes($pink-blue-grey-dark);
  @include app-card-vars($pink-blue-grey-dark);
}

[data-theme="purple-green"][data-theme-mode="light"] {
  @include mat.all-component-themes($purple-green-light);
  @include app-card-vars($purple-green-light);
}
[data-theme="purple-green"][data-theme-mode="dark"] {
  @include mat.all-component-themes($purple-green-dark);
  @include app-card-vars($purple-green-dark);
}

/* Add global styles & imports to this file! */
@import "theme.scss";
@import "jsoneditor/dist/jsoneditor.min.css";

@import "styles.desktop.scss";
@import "styles.tablet.scss";
@import "styles.mobile.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular Editor: Fix issue of missing svg file
div.jsoneditor-menu > button {
  background-image: url("assets/images/jsonedit.svg");
}

.example-full-width {
  width: 100%;
}

// Noted: This helps us to merge Bootstrap 4 and Material Design
* {
  &:active,
  :focus {
    outline: none !important; // 1
  }
}

label {
  margin-bottom: 0; // 2
}

/* General styles */
.field-full-width {
  width: 100%;
}

.separator-dashed {
  border-top: 2px dashed #d6d8db;
  height: 0;
  display: block;
}

.row-heading {
  padding-left: 32px;
  padding-top: 20px;
}

.row-heading > h3 {
  font-size: 16px;
}

.mat-mdc-slide-toggle {
  display: block !important;
  text-align: left;
}

.mat-mdc-raised-button {
  display: block !important;
  text-align: left;
}

.selector-box {
  padding-left: 32px;
}

.mat-mdc-dialog-content {
  font-size: 14px;
}

.no-border-box {
  box-shadow: none !important;
  border: none;
}

.filter-wrapper {
  padding-left: 20px;
  padding-top: 20px;
}

.align-center {
  text-align: center;
}

.grid-container {
  margin: 20px;
}

.grid-container-sub {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.button-wrapper {
  display: -webkit-box;
}

.button-wrapper > * {
  margin-left: 0px !important;
  margin-right: 10px !important;
}

.dialog-box-row {
  min-width: 840px;
}

.divider-left-right-bar {
  flex: 1 1 auto;
}

.revert-button {
  top: -5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.more-button {
  position: absolute !important;
  top: 5px;
  right: 10px;
  padding-top: 5px;
}

.dialog-width {
  width: 900px;
}

.m-radio-inline > .mat-mdc-radio-group > .mat-mdc-radio-button:not(:first-child) {
  padding-left: 5px;
  padding-right: 5px;
}

.drag-drop-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
label.mat-radio-label {
  float: left;
}

.float-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  line-height: 56px;
  background-color: white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.fileupload-wrapper div.mat-form-field-wrapper {
  height: 0px !important;
}

// Auto Complete - Multiple
.autocomplete-hidden-input {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  div.mat-form-field-wrapper {
    height: 0px;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    div.mat-form-field-infix {
      padding-bottom: 0px;
      height: 0px;
      line-height: 0px;
    }
    input {
      display: none;
    }
  }
}

.select-container {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-underline {
    height: 0px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-underline{
    height: 0px !important;
  }
}


.close-icon{
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 25px;
  cursor: pointer;
  font-size:32px;
}

.scrollable{
  overflow: scroll;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
