/* Tablet Size*/

@media (min-width: 576.98px) and (max-width: 991.98px) {
  .col-form-label {
    text-align: left;
  }
  .dialog-box-row {
    min-width: 0;
  }
  .dialog-width {
    width: auto !important;
    max-width: 100% !important;
    min-width: 0;
  }
}
