/* Mobile Size*/

@media (max-width: 576px) {
  .row-heading {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .col-form-label {
    text-align: left;
  }
  .dialog-box-row {
    min-width: 0;
  }
  .filter-wrapper {
    padding-left: 0px !important;
  }
  .dialog-width {
    width: auto !important;
    max-width: 100% !important;
    min-width: 0;
  }

  .tile{
    width: 50% !important;
  }
}
