<div class="grid-container">
    <div class="row">
        <ng-container *ngFor="let app of loadingApps$ | async">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 tile">
                <div class="app-card">
                    <div class="app-card__icon">
                        <mat-icon [inline]="true">{{app.app.logo}}</mat-icon>
                    </div>
                    <div class="app-card__title">
                        <h6>{{app.app.displayName}}</h6>
                    </div>
                    <div class="app-card__cta">
                       <button mat-raised-button color="primary" (click)="onSelectingApp(app)">{{enterText}}</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
