.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 300px;
}
.sidenav-content {
  background-color: rgb(242, 243, 248);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.portal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.user-title {
  font-size: 16px;
  padding-top: 5px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.parent-menu {
  font-size: 15px;
}
.sub-menu {
  font-size: 13px;
}

.icon-side {
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.54);
}

.mat-menu-item[disabled] {
  color: initial;
}

.icon-side-small {
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.54);
}

.logo-small{
  width: 40px;
  height: 40px;
}
