<div class="portal-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- Left top bar -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="hasSelectedApp">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Logo here-->
      <img class="logo-small" src="logo.ico" />
      <!-- End logo-->
      <!-- Right top bar-->
      <span class="divider-left-right-bar"></span>
      <div class="rounded-circle tile-icon d-flex align-items-center justify-content-center">
        <mat-icon [matBadgeHidden]="true" matBadge="0" matBadgeColor="warn" matTooltip="Notification" [matTooltipPosition]="'below'">notifications</mat-icon>
      </div>
      <ng-container *ngIf="!hasAvatar">
        <div class="rounded-circle tile-icon d-flex align-items-center justify-content-center"
          [matMenuTriggerFor]="menu" aria-label="More">
          {{userShortName}}
        </div>
      </ng-container>
      <ng-container *ngIf="hasAvatar">
        <div class="rounded-circle tile-icon d-flex align-items-center justify-content-center"
          [matMenuTriggerFor]="menu" aria-label="More">
          <img [src]="authUser.avatar | secureFile | async" class="rounded-circle user-avatar"/>
        </div>
      </ng-container>
      <mat-menu #menu="matMenu" xPosition="before">
        <p mat-menu-item disabled>
          {{ 'navigation.hiText' | translate }}, {{authUser.fullName}}
        </p>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="profile()">
          <mat-icon>account_box</mat-icon>
          {{ 'navigation.profileText' | translate }}
        </button>
        <button mat-menu-item (click)="appDashboard()">
          <mat-icon>dashboard</mat-icon>
          {{ 'navigation.appsText' | translate }}
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          {{ 'navigation.logoutText' | translate }}
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="hasMenu" fixedTopGap="56">
      <mat-expansion-panel class="no-border-box" *ngFor="let menu of menus">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="icon-side mr-3">{{menu.icon}}</mat-icon>
            <b class="parent-menu">{{menu.displayName}}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <ng-container *ngFor="let child of menu.subMenus">
            <a *ngIf="!child.hide" mat-list-item
              [routerLink]="child.url.startsWith('/') ? child.url : ('/' + child.url)" routerLinkActive="true"
              class="sub-menu">
              <mat-icon class="icon-side-small mr-3 pt-1">{{child.icon}}</mat-icon>{{child.displayName}}
            </a>
          </ng-container>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate">
      </mat-progress-bar>
      <ng-content select="[mainContent]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>