<div *ngIf="readyToRender else loading">
    <ng-container *ngFor="let command of actionCommands">
        <ng-container *ngIf="!command.isHidden">
            <button mat-menu-item (click)="onCommandClick(command)">
                <mat-icon [color]="command.color">{{command.icon}}</mat-icon>
                {{command.name}}
            </button>
        </ng-container>
    </ng-container>
</div>
<ng-template #loading>
    <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
</ng-template>