<div class="grid-container">
    <div class="row">
        <div class="col-lg-12 pb-2">
            <h4>{{app.displayName}} {{ 'common.app' | translate }}</h4>
            <button mat-icon-button class="more-button revert-button" [matMenuTriggerFor]="menu"
                aria-label="Toggle menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="saveChange()">{{ 'common.saveButton' | translate }}</button>
                <button mat-menu-item (click)="backToAppList()">{{ 'common.cancelButton' | translate }}</button>
            </mat-menu>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <mat-label>{{ 'pageBuilder.page.menuProfiles.selectRole' | translate }}</mat-label>
                <mat-select [(value)]="selectedRole" (selectionChange)="onRoleChange()">
                    <mat-option *ngFor="let role of roles" [value]="role.name">
                        {{ role.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-12">

        </div>
        <div class="col-lg-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{ 'common.menu' | translate }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="align-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-tree [dataSource]="dataSource" #menuTree [treeControl]="treeControl">
                                <!-- This is the tree node template for leaf nodes -->
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                                    matTreeNodePaddingIndent="10" #menuTree>
                                    <!-- use a disabled button to provide padding for tree leaf -->
                                    <button mat-icon-button disabled></button>
                                    <mat-checkbox [checked]="hasSelected(node)" (change)="onChange($event,node)"
                                        [disabled]="selectedRole === ''" (click)="$event.stopPropagation()">
                                        {{node.name}}
                                    </mat-checkbox>

                                </mat-tree-node>
                                <!-- This is the tree node template for expandable nodes -->
                                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
                                    matTreeNodePaddingIndent="10">
                                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button>
                                    <mat-checkbox [checked]="hasSelected(node)" (change)="onChange($event,node)"
                                        [disabled]="selectedRole === ''" (click)="$event.stopPropagation()">
                                        {{node.name}}
                                    </mat-checkbox>
                                </mat-tree-node>
                            </mat-tree>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>