<div class="grid-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ 'pageBuilder.page.localization.header' | translate }}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="saveChanges()">{{ 'common.saveButton' | translate }}</button>
                    <button mat-menu-item (click)="cancel()">{{ 'common.cancelButton' | translate }}</button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="form-group row" [formGroup]="formGroup">
                <label class="col-lg-2 col-form-label">{{ 'pageBuilder.page.localization.language' | translate }}:</label>
                <div class="col-lg-6">
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder="{{ 'pageBuilder.page.localization.language.placeholder' | translate }}"
                            [matAutocomplete]="autoLang" formControlName="language" #languageInput>
                        <mat-autocomplete #autoLang="matAutocomplete">
                            <mat-option *ngFor="let tag of localeTags$ | async" [value]="tag.value">
                                {{tag.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="formGroup.get('language').hasError('required')">
                            {{ 'pageBuilder.page.localization.language.error.required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="formGroup.get('language').hasError('uniqueName')">
                            {{ 'pageBuilder.page.localization.error.uniqueName' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 button-wrapper pb-3">
                    <button mat-raised-button color="primary" (click)="onCollect()">
                        {{ 'common.collect' | translate }}
                    </button>
                    <button mat-raised-button color="primary" (click)="onBackup()" *ngIf="isEditMode">
                        {{ 'common.backup' | translate }}
                    </button>
                    <button mat-raised-button color="primary" *ngIf="!isEditMode">
                        {{ 'common.restore' | translate }}
                        <input class="file-input" type="file" #fileInput (change)="onFileChange($event)"
                        [disabled]="disabled">
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <m-table [(value)]="languageKeys" #mtable [selectable]="false" [selectionHandler]="false"
                        (onEditComplete)="editComplete($event)">
                        <m-column field="key" header="{{ 'common.keyText' | translate }}">
                        </m-column>
                        <m-column field="value" header="{{ 'common.valueText' | translate }}" editable="true">
                        </m-column>
                        <ng-template mTemplate="emptyTable">
                            <div class="align-center">
                                {{ 'common.noRecordsText' | translate }}
                            </div>
                        </ng-template>
                    </m-table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>