.login-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(1,45,157);
  background: linear-gradient(180deg, rgba(1,45,157,1) 50%, rgba(0,142,255,0.9) 100%);
    height: 100%;
  }
  
  .forgot-header{
    font-size: 20px;  
  }
  
  .form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }