
<div class="row row-heading">
    <h3>Confirmation Options</h3>
</div>
<form [formGroup]="confirmationFormGroup">
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">Confirmation Text</label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <input formControlName="confirmationText" matInput #confirmationTextInput maxlength="250">
                <mat-hint align="end">{{confirmationTextInput.value?.length || 0}}/250</mat-hint>
                <mat-icon matSuffix matTooltip="A confirmation text displays when user clicks on the button">help_outline</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">Enable</label>
        <div class="col-lg-6 pt-3">
            <mat-slide-toggle formControlName="isEnable"></mat-slide-toggle>
        </div>
    </div>
</form>
<div class="row row-heading">
    <h3>Action Options</h3>
</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label">Action Type</label>
    <div class="col-lg-6">
        <mat-form-field class="field-full-width">
            <mat-select placeholder="Pick one action type" [(ngModel)]="currentActionType"
                [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let type of actionTypes" [value]="type.value">
                    {{ type.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-2 col-form-label">Enable</label>
    <div class="col-lg-10">
        <mat-slide-toggle [(ngModel)]="isEnable"></mat-slide-toggle>
    </div>
</div>
<ng-container [ngSwitch]="currentActionType">
    <div *ngSwitchCase="actionType.ExecuteDatabase">
        <div class="row row-heading">
            <h3>Multiple Executions:</h3>
        </div>
        <div class="row">
            <div class="col-lg-12 pl-4">
                <button mat-raised-button color="primary" (click)="addStep()">Add Step</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-3" *ngIf="isReadyToRender">
                <mat-accordion cdkDropList [cdkDropListData]="steps" (cdkDropListDropped)="onExecutionDrop($event)">
                    <mat-expansion-panel *ngFor="let step of steps;let index = index" cdkDrag [cdkDragData]="step">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Step {{index + 1}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <let-executiondatabase-step [step]="step" [databaseConnections]="databaseConnections"
                            (changed)="stepChanged($event,index)"></let-executiondatabase-step>
                        <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <form [formGroup]="httpOptionsForm" *ngSwitchCase="actionType.CallHttpService ">
        <div class="row row-heading">
            <h3>HTTP Web service Info:</h3>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Service Url:</label>
            <div class="col-lg-6">
                <mat-form-field class="field-full-width">
                    <input formControlName="httpCallUrl" matInput #httpUrlInput placeholder="Enter Url"
                        autocomplete="off">
                    <mat-hint align="end">{{httpUrlInput.value?.length || 0}}/255</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Http Method</label>
            <div class="col-lg-6">
                <mat-form-field class="field-full-width">
                    <mat-select placeholder="Pick one HTTP method" formControlName="httpCallMethod">
                        <mat-option *ngFor="let httpMethod of _httpMethods" [value]="httpMethod.value">
                            {{ httpMethod.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Json Body:</label>
            <div class="col-lg-10">
                <mat-form-field class="field-full-width">
                    <json-editor #jsonPayloadEditor [options]="editorOptions1" [data]="jsonHttpBodyData"></json-editor>
                    <input formControlName="httpJsonPayload" matInput #jsonBodyInput style="display:none">
                    <mat-hint align="end">{{jsonBodyInput.value?.length || 0}}/5000</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Output Projection:</label>
            <div class="col-lg-10">
                <mat-form-field class="field-full-width">
                    <input formControlName="httpOutputProjection" matInput #outputProjectionInput
                        placeholder="Enter Url" autocomplete="off">
                    <mat-hint align="end">{{outputProjectionInput.value?.length || 0}}/255</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Http Success Code:</label>
            <div class="col-lg-6">
                <mat-form-field class="field-full-width">
                    <input formControlName="httpSuccessCode" matInput #httpSuccessCodeInput
                        placeholder="Enter HTTP Success Code">
                    <mat-hint align="end">{{httpSuccessCodeInput.value?.length || 0}}/255</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </form>
    <form [formGroup]="redirectionOptionsForm" *ngSwitchCase="actionType.Redirect">
        <div class="row row-heading">
            <h3>Redirection Info:</h3>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Page:</label>
            <div class="col-lg-6">
                <mat-form-field class="field-full-width">
                    <mat-select placeholder="Pick one page" formControlName="targetPageId">
                        <mat-option *ngFor="let page of page$ | async" [value]="page.id">
                            {{ page.displayName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Url:</label>
            <div class="col-lg-6">
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="Redirect Url" formControlName="redirectUrl" />
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label">Same domain:</label>
            <div class="col-lg-6">
                <mat-slide-toggle formControlName="isSameDomain" name="isSameDomain">
                </mat-slide-toggle>
            </div>
        </div>
    </form>
</ng-container>

<form [formGroup]="notificationOptionsForm" *ngIf="currentActionType !== actionType.Redirect">
    <div class="row row-heading">
        <h3>Notification Info:</h3>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">Complete Message</label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <input formControlName="completeMessage" matInput #completeMessageInput
                    placeholder="Enter Complete Message" autocomplete="off">
                <mat-hint align="end">{{completeMessageInput.value?.length || 0}}/255</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">Failed Message</label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <input formControlName="failedMessage" matInput #failedMessageInput placeholder="Enter Failed Message"
                    autocomplete="off">
                <mat-hint align="end">{{failedMessageInput.value?.length || 0}}/255</mat-hint>
            </mat-form-field>
        </div>
    </div>
</form>