<form [formGroup]="databaseOptionsForm">
    <div class="row row-heading">
        <h3>{{ 'shared.executeDatabase.executeDatabaseInfo' | translate }}:</h3>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">{{ 'common.database' | translate }}</label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <mat-select placeholder="{{ 'common.connectionPlaceholder' | translate }}" formControlName="databaseConnectionId">
                    <mat-option *ngFor="let database of databaseConnections" [value]="database.id">
                        {{ database.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">
            {{ 'common.dataLoopKey' | translate }}
        </label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <input formControlName="dataLoopKey" matInput #dataLoopKeyInput maxlength="250">
                <mat-hint align="end">{{dataLoopKeyInput.value?.length || 0}}/250</mat-hint>
                <mat-icon matSuffix matTooltip="{{ 'shared.executeDatabase.loopKey.tooltip' | translate }}">
                    help_outline</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">{{ 'common.hintText' | translate }}</label>
        <div class="col-lg-10 pt-2">
            <button mat-button (click)="openQueryHint()" color="primary">
                {{ 'common.query' | translate }}
            </button>
            <button mat-button (click)="openInsertHint()" color="primary">
                {{ 'common.insert' | translate }}
            </button>
            <button mat-button (click)="openUpdateHint()" color="primary">
                {{ 'common.update' | translate }}
            </button>
            <button mat-button (click)="openUpdatePartsHint()" color="primary">
                {{ 'common.updateParts' | translate }}
            </button>
            <button mat-button (click)="openDeleteHint()" color="primary">
                {{ 'common.deleteText' | translate }}
            </button>
        </div>
    </div>
    <div class="form-group row" *ngIf="isHintClicked">
        <div class="col-lg-10 offset-lg-2" (click)="copy()">
            <mat-form-field class="field-full-width">
                <textarea style="cursor: pointer;" disabled="disabled" rows="6" readonly="true"
                    [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="hintText"
                    placeholder="Click to copy"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row"
        *ngIf="ismongodb && isReadyToRender && databaseOptionsForm.get('databaseConnectionId').value">
        <label class="col-lg-2 col-form-label">
            {{ 'shared.executeDatabase.executeCommand' | translate }}
        </label>
        <div class="col-lg-10">
            <mat-form-field class="field-full-width">
                <json-editor #jsonDataEditor [options]="editorOptions3" [data]="jsonData">
                </json-editor>
                <input formControlName="query" matInput #jsonDataEditor style="display:none">
                <mat-hint align="end">{{jsonDataEditor.value?.length || 0}}/5000</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row"
        *ngIf="!ismongodb && isReadyToRender && databaseOptionsForm.get('databaseConnectionId').value">
        <label class="col-lg-2 col-form-label">
            {{ 'shared.executeDatabase.executeSql' | translate}}:</label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <textarea formControlName="query" matInput rows="10"></textarea>
            </mat-form-field>
            <pre class="text-left"><code [highlight]="code"></code></pre>
        </div>
    </div>
</form>