<div class="grid-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Notification Box
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile colspan="1" rowspan="8" class="message-group-panel">
                    <mat-grid-tile-header>
                        <form [formGroup]="formGroup" style="width: 100%">
                            <mat-form-field class="field-full-width">
                                <input matInput placeholder="Search for sender" formControlName="groupSearch">
                                <mat-icon matSuffix color="primary">search</mat-icon>
                            </mat-form-field>
                        </form>
                    </mat-grid-tile-header>
                    <mat-selection-list role="list" #messageGroupsSelection
                        style="position: absolute; top: 60px; left:10px; right: 10px;" class="start-50"
                        [multiple]="false">
                        <mat-list-option *ngFor="let group of messageGroup$ | async" [value]="group" role="listitem"
                            style="margin-right: 10px;" (click)="onClickSelection()">
                            <mat-icon mat-list-icon>{{group.icon}}</mat-icon>
                            <div mat-line class="message-group-name">{{group.name}} - <span
                                    class="period-message">{{getPeriod(group.lastMessage)}}</span></div>
                            <div mat-line class="message-text message-text-group-panel"
                                [ngClass]="{'non-read': hasUnreadMessageInGroup(group), 'color-primary':  hasUnreadMessageInGroup(group)}">
                                {{group.lastMessage.shortMessage}}
                            </div>
                            <div style="width: 5px; position: absolute; right: 15px; top: 25px;"
                                *ngIf="hasUnreadMessageInGroup(group)">
                                <mat-icon [inline]="true" color="primary">fiber_manual_record</mat-icon>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="1">
                    <div class="d-flex justify-content-around" style="width: 100%;">
                        <mat-button-toggle-group [(value)]="selectedNotificationTypes" multiple>
                            <mat-button-toggle *ngFor="let type of notificationTypes" [value]="type">{{type}}</mat-button-toggle>
                        </mat-button-toggle-group>
                        <!-- <mat-checkbox [(ngModel)]="checkedInfo" (change)="onChangedCheckbox()">Info</mat-checkbox>
                        <mat-checkbox [(ngModel)]="checkedWarn" (change)="onChangedCheckbox()">Warning</mat-checkbox>
                        <mat-checkbox [(ngModel)]="checkedCritical" (change)="onChangedCheckbox()">Critical
                        </mat-checkbox> -->
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="1" *ngIf="loading">
                    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="20">
                    </mat-progress-spinner>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <cdk-virtual-scroll-viewport #scroller itemSize="20" class="message-box-viewer">
                        <div *cdkVirtualFor="let notificationMessage of notificationMessages$; trackBy: trackById;"
                            class="message-content">
                            <div class="w-75 pt-2 d-flex flex-column received_mess align-items-start">
                                <div class="time-text">
                                    {{getPeriod(notificationMessage)}}
                                </div>
                                <p class="d-flex flex-row mb-1">
                                    <mat-icon class="mr-1">{{getIcon(notificationMessage)}}</mat-icon>
                                    {{notificationMessage.shortMessage}}
                                </p>
                            </div>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>