<div class="error-center text-center">
    <div class="error-box">
        <mat-card>
            <mat-card-header>
                <div style="font-size: 30px" mat-card-avatar>
                    <mat-icon [inline]="true">error</mat-icon>
                </div>
                <mat-card-title style="padding-top: 5px">
                    Oops! We got a problem
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="align-center">
                <div class="d-flex flex-row justify-content-center">
                    <div class="error-code" style="color: darkgray">
                        4
                    </div>
                    <div class="error-code" style="color:lightgray">
                        0
                    </div>
                    <div class="error-code" style="color: darkgray">
                        4
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <h5>Page Not Found</h5>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="moveToHome()" color="primary">Back to Home Page</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>