<div class="chat-head d-flex align-items-center justify-content-center" matTooltip="{{ 'chat.chatHead.tooltip' | translate }}"
    [matTooltipPosition]="'left'" (click)="showSearchBox()">
    <mat-icon [@headShake]="hasNewIncomeMessage" matBadge="0" [matBadgeHidden]="!showChatBadge" matBadgeColor="warn">sms</mat-icon>
    <div class="overlay-notified-status" *ngIf="hasNewIncomeMessage" matBadgePosition="above after"
        matBadgeSize="small" matBadge="&#8288;" matBadgeColor="warn">
    </div>
</div>
<div class="chat-search-box arrow-right p-3" *ngIf="isShowSearchBox">
    <let-chat-search (closed)="onSearchBoxClosed()" (onClickChatUser)="clickedChatUser($event)"></let-chat-search>
</div>
<audio src="assets/sounds/message_ring.mp3" style="visibility: hidden;" #audio></audio>