<div class="grid-container-sub">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ 'pageBuilder.builderDnd.header' | translate }}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button (click)="addNewSection()" mat-menu-item>
                        {{ 'pageBuilder.builderDnd.buttons.newSection' | translate }}
                    </button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="align-center">
            <mat-accordion cdkDropList (cdkDropListDropped)="dropSection($event)">
                <mat-expansion-panel *ngFor="let pageSection of pageSections" cdkDrag [disabled]="!pageSection.relatedStandard && !pageSection.relatedArrayStandard && !pageSection.relatedTreeStandard">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span style="padding-top: calc(.375rem + 5px);" [ngStyle]="{ 'text-decoration': pageSection.isBroken ? 'line-through' : 'initial' }">
                                {{ 'pageBuilder.builderDnd.sectionText' | translate }}:
                                {{ pageSection.displayName }}</span>
                            <button mat-icon-button color="primary" type="button" matTooltip="Edit"
                                (click)="editSection(pageSection);$event.stopPropagation()">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" type="button" matTooltip="Remove"
                                (click)="onRemove(pageSection);$event.stopPropagation()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row" *ngIf="!!pageSection.relatedStandard || !!pageSection.relatedArrayStandard || !!pageSection.relatedTreeStandard">
                        <label class="col-lg-2 col-form-label">{{ 'pageBuilder.builderDnd.datasourceBindText' | translate }}:</label>
                        <div class="col-lg-6">
                            <mat-form-field class="field-full-width">
                                <input [(ngModel)]="pageSection.sectionDatasource.datasourceBindName" matInput
                                    #displayNameInput placeholder="{{ 'pageBuilder.builderDnd.bindname.placeholder' | translate }}"
                                    autocomplete="off">
                                <mat-hint align="end">
                                    {{displayNameInput.value?.length || 0}}/255
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="!!pageSection.relatedStandard || !!pageSection.relatedArrayStandard || !!pageSection.relatedTreeStandard">
                        <label class="col-lg-2 col-form-label">{{ 'pageBuilder.builderDnd.dataStoreNameText' | translate }}:</label>
                        <div class="col-lg-6">
                            <mat-form-field class="field-full-width">
                                <input [(ngModel)]="pageSection.sectionDatasource.dataStoreName" matInput
                                    #dataStoreNameInput placeholder="{{ 'pageBuilder.builderDnd.dataStoreName.placeholder' | translate }}"
                                    autocomplete="off">
                                <mat-hint align="end">
                                    {{dataStoreNameInput.value?.length || 0}}/255
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="!!pageSection.relatedStandard">
                        <div class="col-lg-10">
                            <let-standardcontrols-list [sectionName]="pageSection.name"
                                [controls]="pageSection.relatedStandard.controls"></let-standardcontrols-list>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>