.chat-search-title{
    text-align: left;
}
.chat-search-title h5{  
    padding-top: 10px;
}

.online-user{
    cursor: pointer;
}

.online > .mat-badge-content.mat-badge-active{
    background-color: #08976d; 
    right: -5px;
    bottom: -5px;
}

.offline > .mat-badge-content.mat-badge-active{
    right: -5px;
    bottom: -5px;
}