<div class="close-icon" (click)="onClosed()">
    <mat-icon [inline]="true">cancel</mat-icon>
</div>
<div class="row">
    <div class="col-lg-12 d-flex align-items-end online-user">
        <div class="w-25" *ngIf="!hasAvatar">
            <div class="rounded-circle tile-icon-revert d-flex align-items-center justify-content-center">
                {{roomShortName}}
            </div>
        </div>
        <div class="w-75 text-left">
            <h6>{{roomName}}</h6>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="col-lg-12 scrollable chat-box-content-area" #messageContainer (scroll)="scrollChat($event)">
        <div class="w-100" *ngIf="displayShowMore">
            <div class="d-flex justify-content-center">
                <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
            </div>
        </div>
        <ng-container *ngFor="let message of messages$ | async">
            <div class="w-75 pt-2 d-flex flex-column " [ngClass]="{'received_mess align-items-start': message.isReceived, 'sent_mess align-items-end': !message.isReceived}">
                <p class="mb-1">
                    {{message.message}}</p>
                <div class="time-text">
                    {{translateTimeText(message)}}
                </div>
            </div>
        </ng-container>        
    </div>
</div>
<form [formGroup]="formGroup" #form="ngForm">
    <div class="row">
        <div class="col-lg-12 pl-3 pr-3">
            <mat-form-field class="field-full-width">
                <input matInput 
                    placeholder="Aa" 
                    #textInput 
                    formControlName="text" 
                    maxlength="250"
                    [errorStateMatcher]="errorMatcher"
                    autocomplete="off" />
                <mat-icon matSuffix>
                    mood</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-lg-12">
            <div class="float-left">
                <button mat-icon-button color="primary" matTooltip="Attachment" [matTooltipPosition]="'above'">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
            <div class="float-right pt-1">
                <button mat-button color="primary" (click)="send()">Send</button>
            </div>
        </div>
    </div>
</form>