.chat-box-content-area{
    height: 280px;
    font-size: 13px;
    line-height: 16px;
    white-space: pre-wrap;    
    text-align: start;
    overflow-wrap: normal;
}

.avatar-chat-icon{
    width: 28px;
    height: 28px;
}