<div class="close-icon" (click)="onClosed()">
    <mat-icon [inline]="true">cancel</mat-icon>
</div>
<div class="row">
    <div class="col-lg-12 d-flex align-items-end online-user">
        <div class="w-25" *ngIf="!hasAvatar">
            <div class="rounded-circle tile-icon-revert d-flex align-items-center justify-content-center">
                {{roomShortName}}
            </div>
        </div>
        <div class="w-25" *ngIf="hasAvatar">
            <div class="rounded-circle tile-icon-revert d-flex align-items-center justify-content-center">
                <img [src]="roomAvatar" class="rounded-circle user-avatar" />
            </div>
        </div>
        <div class="w-50 text-left">
            <h6 style="margin-bottom: 0px;">{{roomName}}</h6>
            <span *ngIf="isUserOnline" class="online-text">{{ 'chat.chatBoxContent.online' | translate }}</span>
            <span *ngIf="!isUserOnline" class="online-text">{{ 'chat.chatBoxContent.offline' | translate }}</span>
        </div>
        <div class="w-25 text-right">
            <button [disabled]="!isUserOnline" mat-icon-button color="primary" (click)="popupVideoCall()">
                <mat-icon>voice_chat</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div [ngStyle]="{'height': (heightChatContent + 'px')}" class="col-lg-12 scrollable chat-box-content-area"
        #messageContainer (scroll)="scrollChat($event)">
        <div class="w-100" *ngIf="displayShowMore">
            <div class="d-flex justify-content-center">
                <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
            </div>
        </div>
        <ng-container *ngFor="let message of messages$ | async">
            <div class="w-75 pt-2 d-flex flex-column "
                [ngClass]="{'received_mess align-items-start': message.isReceived, 'sent_mess align-items-end': !message.isReceived}">                
                <div class="time-text" *ngIf="message.renderTime">
                    {{translateTimeText(message)}}
                </div>
                <p class="mb-1" *ngIf="!message.hasAttachmentFile">
                    {{message.message}}</p>
                <div class="mb-1" *ngIf="message.hasAttachmentFile">
                    <ng-container *ngFor="let file of message.attachmentFiles">
                        <div class="img-wrapper" *ngIf="isImageFile(file.fileType)">
                            <img (click)="openDownloadFileTab(file.downloadUrl)" *ngIf="isImageFile(file.fileType)"
                                [attr.src]="file.downloadUrl | secureFile | async" class="rounded img-thumbnail">
                            <div class="overlay-img">
                                <button mat-icon-button (click)="openDownloadFileTab(file.downloadUrl)">
                                    <mat-icon>get_app</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="attachment-file" *ngIf="!isImageFile(file.fileType)">
                            <button [matTooltip]="file.fileName" class=" border rounded" [matTooltipPosition]="'left'"
                                mat-icon-button (click)="openDownloadFileTab(file.downloadUrl)">
                                <mat-icon>get_app</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <div class="w-75 pt-2 d-flex flex-column sent_mess align-items-end" *ngIf="hasUploading">
            <div class="waiting-upload d-flex align-items-center justify-content-center">
                <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
            </div>
        </div>
        <div class="w-75 pt-2 d-flex flex-column sent_mess align-items-end" *ngIf="hasUploadingError">
            <div class="waiting-upload d-flex align-items-center justify-content-center">
                <mat-icon color="warn">
                    cancel
                </mat-icon>
                <span class="color-warn">
                    Error
                </span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="connectionState else reconnecting"></div>
<form [formGroup]="formGroup" #form="ngForm" [hidden]="!connectionState">
    <div class="row">
        <div class="col-lg-12 pl-3 pr-3" #formFieldWarpper>
            <mat-form-field class="field-full-width chat-text">
                <textarea matInput #textInput placeholder="Aa" maxlength="1000" formControlName="text"
                    [errorStateMatcher]="errorMatcher" autocomplete="off" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    (keydown.enter)="onKeydown($event)" class="text-area-chat">
                </textarea>
                <mat-error *ngIf="formGroup.controls.text.hasError('maximum-file-size')">
                    {{ 'chat.chatBoxContent.attachment.errors.maxFileSize' | translate }}                    
                </mat-error>
                <mat-error *ngIf="formGroup.controls.text.hasError('invalid-file-type')">
                    {{ 'chat.chatBoxContent.attachment.errors.invalidFileType' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-12">
            <div class="float-left">
                <button mat-icon-button color="primary" matTooltip="{{ 'chat.chatBoxContent.attachment.tooltip' | translate }}" [matTooltipPosition]="'above'">
                    <mat-icon>attach_file</mat-icon>
                    <input class="file-input-overlay" type="file" #fileInput (change)="onFileChange($event)">
                </button>
                <button mat-icon-button color="primary" matTooltip="{{ 'chat.chatBoxContent.icon.tooltip' | translate }}" [matTooltipPosition]="'above'">
                    <mat-icon style="cursor: pointer;">mood</mat-icon>
                    <div (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
                        (emojiPickerSelect)="emotionPicked($event)" class="field-full-width overlay-emotion">
                    </div>
                </button>
            </div>
            <div class="float-right pt-1">
                <button mat-button color="primary" (click)="send()">{{ 'chat.chatBoxContent.buttons.send' | translate }}</button>
            </div>
        </div>
    </div>
</form>
<ng-template #reconnecting>
    <div class="row d-flex justify-content-center">
        <p>{{ 'chat.chatBoxContent.chatUnavailable' | translate }}</p>
    </div>
</ng-template>