<div class="grid-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{ 'pageBuilder.page.chart.header' | translate }}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item disabled="{{!isCanSubmit}}" (click)="onSubmit()">
                        {{ 'common.saveButton' | translate }}
                    </button>
                    <button mat-menu-item (click)="onCancel()">
                        {{ 'common.cancelButton' | translate }}
                    </button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-horizontal-stepper linear>
                <ng-template matStepperIcon="edit">
                    <mat-icon>check</mat-icon>
                </ng-template>
                <!-- Page info step-->
                <mat-step [stepControl]="componentInfo"
                    errorMessage="{{ 'pageBuilder.page.chart.chartInfo.error' | translate }}">
                    <ng-template matStepLabel>
                        <span class="d-none d-sm-block">
                            {{ 'pageBuilder.page.chart.chartInfo' | translate }}
                        </span>
                    </ng-template>
                    <div class="row">
                        <div class="col-lg-12">
                            <button [disabled]="componentInfo.invalid" matStepperNext mat-raised-button color="primary">
                                {{ 'common.nextText' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row row-heading">
                        <h3>{{ 'pageBuilder.page.chart.chartInfo' | translate }}:</h3>
                    </div>
                    <form [formGroup]="componentInfo">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">{{ 'common.displayNameText' | translate }}:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="field-full-width">
                                    <input formControlName="displayName" matInput #formDisplayNameInput
                                        placeholder="{{ 'common.displayNameText' | translate }}" maxlength="250">
                                    <mat-hint align="end">
                                        {{formDisplayNameInput.value?.length || 0}}/250
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">{{ 'common.nameText' | translate }}:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="field-full-width">
                                    <input formControlName="name" matInput #formNameInput
                                        placeholder="{{ 'common.autogeneratedDisplayname' | translate }}"
                                        maxlength="250">
                                    <mat-hint align="end">
                                        {{formNameInput.value?.length || 0}}/250
                                    </mat-hint>
                                    <mat-error *ngIf="componentInfo.get('name').hasError('uniqueName')">
                                        {{ 'common.errors.nameAlreadyUsed' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">
                                {{ 'common.app' | translate }}:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="field-full-width">
                                    <mat-select placeholder="{{ 'common.pickOneApp' | translate }}"
                                        formControlName="app">
                                        <mat-option *ngFor="let app of apps$ | async" [value]="app.id">
                                            {{ app.displayName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label
                                class="col-lg-2 col-form-label">{{ 'pageBuilder.page.chart.chartTitle' | translate }}:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="field-full-width">
                                    <input formControlName="chartTitle" matInput #formChartTitleInput
                                        placeholder="{{ 'pageBuilder.page.chart.chartTitle' | translate }}"
                                        maxlength="250">
                                    <mat-hint align="end">
                                        {{formChartTitleInput.value?.length || 0}}/250
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">{{ 'common.layoutType' | translate }}:</label>
                            <div class="col-lg-10">
                                <div class="row">
                                    <label class="col-lg-3 p-3">
                                        <input type="radio" name="layoutType" value="0" formControlName="layoutType">
                                        <img src="assets/images/Layout-OneCol.png" class="img-fluid rounded" />
                                    </label>
                                    <label class="col-lg-3 p-3">
                                        <input type="radio" name="layoutType" value="1" formControlName="layoutType">
                                        <img src="assets/images/Layout-TwoCols.png" class="img-fluid rounded" />
                                    </label>
                                    <label class="col-lg-3 p-3">
                                        <input type="radio" name="layoutType" value="2" formControlName="layoutType">
                                        <img src="assets/images/Layout-ThreeCols.png" class="img-fluid rounded" />
                                    </label>
                                    <label class="col-lg-3 p-3">
                                        <input type="radio" name="layoutType" value="3" formControlName="layoutType">
                                        <img src="assets/images/Layout-FourCols.png" class="img-fluid rounded" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label
                                class="col-lg-2 col-form-label">{{ 'pageBuilder.page.chart.chartType' | translate }}:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="field-full-width">
                                    <mat-select
                                        placeholder="{{ 'pageBuilder.page.chart.chartType.placeholder' | translate }}"
                                        formControlName="chartType">
                                        <mat-option *ngFor="let chartType of _chartTypes" [value]="chartType.value">
                                            {{ chartType.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">{{ 'common.mappingProjection' | translate }}:</label>
                            <div class="col-lg-6">
                                <mat-form-field class="field-full-width">
                                    <input formControlName="mappingProjection" matInput #formMappingProjectionInput
                                        placeholder="{{ 'commom.mappingplaceholder' | translate }}" maxlength="250">
                                    <mat-hint align="end">
                                        {{formMappingProjectionInput.value?.length || 0}}/250
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <div class="separator-dashed"></div>
                    <div class="row row-heading">
                        <h3>{{ 'common.options' | translate }}:</h3>
                    </div>
                    <let-shell-option [shellOptions$]="shellOptions$" (changed)="onChangingOptions($event)">
                    </let-shell-option>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>
                        <span class="d-none d-sm-block">{{ 'pageBuilder.page.chart.stepDatabase' | translate }}</span>
                    </ng-template>
                    <div class="row">
                        <div class="col-lg-12 div-stepper">
                            <button matStepperPrevious mat-raised-button color="primary">
                                {{ 'common.backText' | translate }}
                            </button>
                        </div>
                    </div>
                    <let-chart-datasource [isEditMode]="isEditMode" [databaseOptions]="databaseOptions"
                        (afterSelectingEntity)="afterSelectingEntity($event)"
                        (afterPopulatingQuery)="afterPopulatingQuery($event)"
                        (changed)="databaseOptionsChanged($event)"></let-chart-datasource>
                    <let-chart-filter-grid [chartFilters]="chartFilters"
                        (chartFiltersChanged)="chartFiltersChanged($event)"></let-chart-filter-grid>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>