<h3 mat-dialog-title>
    {{ 'shared.claimDialog.formClaim' | translate }}
</h3>
<mat-dialog-content>
    <form [formGroup]="claimFormGroup">
        <div class="form-group row">
            <div class="col-lg-12">
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="{{ 'shared.claimDialog.claimName' | translate }}" formControlName="name" />
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="{{ 'common.displayNamePlaceholder' | translate }}" formControlName="displayName" />
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>
        {{ 'common.cancelButton' | translate }}
    </button>&nbsp;
    <button mat-button (click)="onSubmit()" color="primary">
        {{ 'common.saveButton' | translate }}
    </button>
</mat-dialog-actions>