@model Themes.PersonalBlog.Areas.PersonalBlog.Models.FooterModel
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 @(Model.CompanyName) &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>