<div class="row row-heading">
    <h3>{{heading}}</h3>
</div>
<form [formGroup]="databaseOptionForm">
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">
            {{ 'common.connections' | translate }}:
            <button mat-icon-button matTooltip="Refresh Entities" (click)="refreshEntities()">
                <mat-icon>cached</mat-icon>
            </button>
        </label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <mat-select placeholder="{{ 'common.connectionPlaceholder' | translate }}" formControlName="databaseId">
                    <mat-option *ngFor="let database of databaseConnections$ | async" [value]="database.id">
                        {{ database.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-2 col-form-label">
            {{ 'shared.databaseOpt.chooseEntity.label' | translate }}:
        </label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <mat-select placeholder="{{ 'shared.databaseOpt.chooseEntity.placeholder' | translate }}" formControlName="entityName">
                    <mat-option *ngFor="let entity of entities | async" [value]="entity.name">
                        {{ entity.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row" [hidden]="(!ismongodb && isReadyToRender) || selectedDatabaseConnection == null">
        <label class="col-lg-2 col-form-label">{{ 'common.query' | translate }}:</label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <json-editor [options]="jsonOptions" [data]="queryJsonData" #jsonEditorQuery>
                </json-editor>
                <input formControlName="query" matInput #queryTypeInput style="display:none">
                <mat-hint align="end">{{queryTypeInput.value?.length || 0}}/500</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row" [hidden]="(ismongodb && isReadyToRender) || selectedDatabaseConnection == null">
        <label class="col-lg-2 col-form-label">{{ 'common.query' | translate }}:</label>
        <div class="col-lg-6">
            <mat-form-field class="field-full-width">
                <textarea formControlName="query" matInput rows="10"></textarea>
            </mat-form-field>
            <pre class="text-left"><code [highlight]="code"></code></pre>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-2 offset-lg-2">
            <button mat-raised-button color="primary" type="button" (click)="onPopulatingQueryBody()" [disabled]="!isEnablePopulate">
                {{ 'common.populate' | translate }}
            </button>
        </div>
    </div>
</form>