<mat-card *ngIf="!boundSection.hide">
    <mat-card-header>
        <mat-card-title>
            {{ section.displayName }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="readyToRender">
        <ng-container *ngFor="let groupControl of controlsGroups">
            <div class="form-group row" *ngIf="!groupControl.isLineBreaker && !groupControl.isCompositeGroup">
                <ng-container *ngFor="let control of groupControl.controlsList">
                    <ng-container *ngIf="control.type !== controlType.RichTextEditor
                        && control.type !== controlType.MarkdownEditor
                        && control.type !== controlType.Label">
                        <label [ngClass]="_labelClass" class="font-weight-bold"
                            [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                        <div [ngClass]="_boundedClass" [formGroup]="builderFormGroup"
                            *ngIf="control.type !== controlType.RichTextEditor" [hidden]="control.boundControl.hide">
                            <let-general-control [boundSection]="boundSection" [boundControl]="getBoundControl(control)"
                                [section]="section" [formGroup]="builderFormGroup" [control]="control">
                            </let-general-control>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="control.type === controlType.RichTextEditor">
                        <label class="col-lg-2 col-form-label font-weight-bold"
                            [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                        <div class="col-lg-10" [hidden]="control.boundControl.hide">
                            <let-general-control [boundSection]="boundSection" [boundControl]="getBoundControl(control)"
                                [section]="section" [formGroup]="builderFormGroup" [control]="control">
                            </let-general-control>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="control.type === controlType.MarkdownEditor">
                        <label class="col-lg-2 col-form-label font-weight-bold"
                            [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                        <div class="col-lg-10" [hidden]="control.boundControl.hide">
                            <let-general-control [boundSection]="boundSection" [boundControl]="getBoundControl(control)"
                                [section]="section" [formGroup]="builderFormGroup" [control]="control">
                            </let-general-control>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="control.type === controlType.Label">
                        <label [ngClass]="_labelClass" class="font-weight-bold"
                            [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                        <div [ngClass]="_boundedClass" [hidden]="control.boundControl.hide">
                            <p class="float-left col-form-label">
                                {{builderFormGroup.get(control.name).value}}
                            </p>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="separator-dashed pb-3" *ngIf="groupControl.isLineBreaker"></div>
            <div class="separator-dashed pb-3" *ngIf="groupControl.isCompositeGroup"></div>
            <!-- <div class="row row-heading ng-star-inserted" *ngIf="groupControl.isCompositeGroup">
                <h3>{{groupControl.compositeGroupLabel}}</h3>
            </div> -->
            <mat-accordion *ngIf="groupControl.isCompositeGroup">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>{{groupControl.compositeGroupLabel}}</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="form-group row">
                        <ng-container *ngFor="let control of groupControl.controlsList">
                            <ng-container *ngIf="control.type !== controlType.RichTextEditor
                                    && control.type !== controlType.MarkdownEditor
                                    && control.type !== controlType.Label">
                                <label [ngClass]="_labelClass" class="font-weight-bold"
                                    [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                                <div [ngClass]="_boundedClass" [formGroup]="builderFormGroup"
                                    *ngIf="control.type !== controlType.RichTextEditor"
                                    [hidden]="control.boundControl.hide">
                                    <let-general-control [boundSection]="boundSection"
                                        [boundControl]="getBoundControl(control)" [section]="section"
                                        [formGroup]="builderFormGroup" [control]="control">
                                    </let-general-control>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="control.type === controlType.RichTextEditor">
                                <label class="col-lg-2 col-form-label font-weight-bold"
                                    [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                                <div class="col-lg-10" [hidden]="control.boundControl.hide">
                                    <let-general-control [boundSection]="boundSection"
                                        [boundControl]="getBoundControl(control)" [section]="section"
                                        [formGroup]="builderFormGroup" [control]="control">
                                    </let-general-control>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="control.type === controlType.MarkdownEditor">
                                <label class="col-lg-2 col-form-label font-weight-bold"
                                    [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                                <div class="col-lg-10" [hidden]="control.boundControl.hide">
                                    <let-general-control [boundSection]="boundSection"
                                        [boundControl]="getBoundControl(control)" [section]="section"
                                        [formGroup]="builderFormGroup" [control]="control">
                                    </let-general-control>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="control.type === controlType.Label">
                                <label [ngClass]="_labelClass" class="font-weight-bold"
                                    [hidden]="control.boundControl.hide">{{ control.defaultOptions.label }}</label>
                                <div [ngClass]="_boundedClass" [hidden]="control.boundControl.hide">
                                    <p class="float-left col-form-label">
                                        {{builderFormGroup.get(control.name).value}}
                                    </p>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
        <div class="row">
            <div class="col-lg-6 offset-lg-2">
                <action-commands [actionCommands]="section.relatedButtons" [isInSection]="true">
                </action-commands>
            </div>
        </div>
    </mat-card-content>
</mat-card>