<mat-card *ngIf="!boundSection.hide">
    <mat-card-header>
        <mat-card-title>
            {{ section.displayName }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="readyToRender">
        <div class="row" *ngIf="standardArrayOptions.allowadjustment">
            <div class="col-lg-12 pb-3 pl-3">
                <button mat-raised-button color="primary" (click)="add()">
                    Add
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 table-flex">
                <mat-table [dataSource]="tableData" class="mat-elevation-z8" #matTable>
                    <ng-container *ngFor="let header of headers">
                        <ng-container [matColumnDef]="header.name">
                            <mat-header-cell *matHeaderCellDef> {{header.displayName}} </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="handset-label">
                                    {{header.displayName}}
                                </span>
                                <span class="handset-data">
                                    {{translateData(element[header.name], header.name)}}
                                </span> </mat-cell>
                        </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="handset-label">Actions</span>
                            <span class="handset-action">
                                <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Toggle menu">
                                    <mat-icon>add_box</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" yPosition="above">
                                    <button mat-icon-button color="primary" matTooltip="Edit" (click)="edit($event, element)">
                                        <mat-icon>create</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" matTooltip="Remove" (click)="delete($event, element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-menu>
                            </span>
                            <span class="desktop-action">
                                <button mat-icon-button color="primary" matTooltip="Edit" (click)="edit($event, element)">
                                    <mat-icon>create</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" matTooltip="Remove" (click)="delete($event, element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </span>                            
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-2">
                <action-commands [actionCommands]="section.relatedButtons" [isInSection]="true">
                </action-commands>
            </div>
        </div>
    </mat-card-content>
</mat-card>