<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ section.displayName }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="align-center" *ngIf="readyToRender"> 
        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
            <ng-container *ngFor="let header of displayedColumns">
                <ng-container [matColumnDef]="header.name">
                    <th mat-header-cell *matHeaderCellDef> {{header.displayName}} </th>
                    <td mat-cell *matCellDef="let element"> {{element}} </td>
                </ng-container>
            </ng-container>            
        </table>       
    </mat-card-content>
</mat-card>