<div class="row row-heading">
    <h3>{{ 'pageBuilder.dynamicList.columnsGrid.header' | translate }}:</h3>
</div>
<div *ngIf="!isSmallDevice">
    <div cdkDropList (cdkDropListDropped)="onListDrop($event)" [cdkDropListData]="columnDefs">
        <ng-container *ngFor="let columnDef of columnDefs;let index = index; trackBy: trackColumnName">
            <div class="separator-dashed"></div>
            <div class="form-group row pt-2" cdkDrag [cdkDragData]="columnDef">
                <div class="col-lg-3">
                    <mat-form-field class="field-full-width">
                        <input [(ngModel)]="columnDef.displayName" matInput placeholder="{{ 'pageBuilder.dynamicList.columnsGrid.displayNameColumn.placeholder' | translate }}">
                    </mat-form-field>

                    <mat-checkbox [(ngModel)]="columnDef.isHidden" name="isHidden" (change)="onHiddenColumn(columnDef)"
                        matTooltip="">
                        {{ 'common.isHidden' | translate }}</mat-checkbox>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="field-full-width">
                        <input matInput placeholder="{{ 'pageBuilder.dynamicList.columnsGrid.format.placeholder' | translate }}" aria-label="{{ 'pageBuilder.dynamicList.columnsGrid.format.placeholder' | translate }}"
                            [matAutocomplete]="auto" [(ngModel)]="columnDef.displayFormat">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-optgroup *ngFor="let group of _patternGroups" [label]="group.name">
                                <mat-option *ngFor="let pattern of group.patterns" [value]="pattern.format">
                                    <small>{{pattern.name}}: {{pattern.format}}</small>
                                </mat-option>
                            </mat-optgroup>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="field-full-width">
                        <mat-select placeholder="{{ 'pageBuilder.dynamicList.columnsGrid.fieldType.placeholder' | translate }}"
                            [(ngModel)]="columnDef.searchOptions.fieldValueType"
                            (selectionChange)="onFieldTypeSelectChange(columnDef)">
                            <mat-option *ngFor="let fieldType of _fieldTypes" [value]="fieldType.value">
                                {{ fieldType.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-5 pt-3">
                    <div class="row">
                        <div class="col-lg-4 d-flex flex-column">
                            <mat-checkbox [(ngModel)]="columnDef.allowSort" name="allowSort"
                                matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.allowSort.tooltip' | translate }}">
                                {{ 'pageBuilder.dynamicList.columnsGrid.allowSort' | translate }}
                            </mat-checkbox>
                            <mat-checkbox [(ngModel)]="columnDef.displayFormatAsHtml" name="displayFormatAsHtml"
                                matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.displayHtml.tooltip' | translate }}">
                                {{ 'pageBuilder.dynamicList.columnsGrid.displayHtml' | translate }}
                            </mat-checkbox>
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <mat-checkbox [(ngModel)]="columnDef.searchOptions.allowTextSearch" name="allowTextSearch"
                                matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.searchText.tooltip' | translate }}">
                                {{ 'pageBuilder.dynamicList.columnsGrid.searchText' | translate }}</mat-checkbox>
                            <mat-checkbox [(ngModel)]="columnDef.searchOptions.allowInAdvancedMode"
                                name="allowInAdvancedMode" matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.searchAdvanced.tooltip' | translate }}">
                                {{ 'pageBuilder.dynamicList.columnsGrid.searchAdvanced' | translate }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <button mat-icon-button color="primary" matTooltip="{{ 'common.actionsText' | translate }}" class="more-button"
                        [matMenuTriggerFor]="action" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #action="matMenu" xPosition="after">
                        <button mat-menu-item color="warn" (click)="deleteColumn(columnDef)">
                            <mat-icon color="warn">delete</mat-icon>
                            {{ 'common.deleteText' | translate }}
                        </button>
                        <button mat-menu-item color="accent"
                            *ngIf="columnDef.searchOptions.fieldValueType == fieldValueType.Select"
                            (click)="openDatasourceDialogForColumn(columnDef)">
                            <mat-icon color="accent">library_books</mat-icon>
                            {{ 'common.datasourceText' | translate }}
                        </button>
                    </mat-menu>
                </div>
                <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>
            </div>
        </ng-container>
    </div>
</div>


<mat-accordion *ngIf="isSmallDevice" cdkDropList [cdkDropListData]="columnDefs"
    (cdkDropListDropped)="onListDrop($event)">
    <mat-expansion-panel *ngFor="let columnDef of columnDefs;let index = index; trackBy: trackColumnName" cdkDrag
        [cdkDragData]="columnDef">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{columnDef.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="form-group row">
            <div class="col-lg-2">
                <mat-form-field class="field-full-width">
                    <input [(ngModel)]="columnDef.displayName" matInput placeholder="{{ 'pageBuilder.dynamicList.columnsGrid.displayNameColumn.placeholder' | translate }}">
                </mat-form-field>
            </div>
            <div class="col-lg-2">
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="{{ 'pageBuilder.dynamicList.columnsGrid.format.placeholder' | translate }}" [matAutocomplete]="auto"
                        [(ngModel)]="columnDef.displayFormat">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-optgroup *ngFor="let group of _patternGroups" [label]="group.name">
                            <mat-option *ngFor="let pattern of group.patterns" [value]="pattern.format">
                                <small>{{pattern.name}}: {{pattern.format}}</small>
                            </mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-lg-2">
                <mat-form-field class="field-full-width">
                    <mat-select placeholder="{{ 'pageBuilder.dynamicList.columnsGrid.fieldType.placeholder' | translate }}" [(ngModel)]="columnDef.searchOptions.fieldValueType"
                        (selectionChange)="onFieldTypeSelectChange(columnDef)">
                        <mat-option *ngFor="let fieldType of _fieldTypes" [value]="fieldType.value">
                            {{ fieldType.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-2">
                <mat-checkbox [(ngModel)]="columnDef.allowSort" name="allowSort"
                    matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.allowSort.tooltip' | translate }}">
                    {{ 'pageBuilder.dynamicList.columnsGrid.allowSort' | translate }}
                </mat-checkbox>
            </div>
            <div class="col-lg-2">
                <mat-checkbox [(ngModel)]="columnDef.displayFormatAsHtml" name="displayFormatAsHtml"
                    matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.displayHtml.tooltip' | translate }}">
                    {{ 'pageBuilder.dynamicList.columnsGrid.displayHtml' | translate }}
                </mat-checkbox>
            </div>
            <div class="col-lg-2">
                <mat-checkbox [(ngModel)]="columnDef.searchOptions.allowTextSearch" name="allowTextSearch"
                    matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.searchText.tooltip' | translate }}">
                    {{ 'pageBuilder.dynamicList.columnsGrid.searchText' | translate }}</mat-checkbox>
            </div>
            <div class="col-lg-2">
                <mat-checkbox [(ngModel)]="columnDef.searchOptions.allowInAdvancedMode" name="allowInAdvancedMode"
                    matTooltip="{{ 'pageBuilder.dynamicList.columnsGrid.searchAdvanced.tooltip' | translate }}">
                    {{ 'pageBuilder.dynamicList.columnsGrid.searchAdvanced' | translate }}
                </mat-checkbox>
            </div>
            <div class="col-lg-2">
                <mat-checkbox [(ngModel)]="columnDef.isHidden" name="isHidden" (change)="onHiddenColumn(columnDef)">
                    {{ 'common.isHidden' | translate }}</mat-checkbox>
            </div>
            <div class="col-lg-2 d-flex justify-content-center">
                <button mat-button color="primary" matTooltip="Actions" [matMenuTriggerFor]="action"
                    aria-label="Toggle menu">
                    {{ 'common.actionsText' | translate }}
                </button>
                <mat-menu #action="matMenu" xPosition="after">
                    <button mat-menu-item color="warn" (click)="deleteColumn(columnDef)">
                        <mat-icon color="warn">delete</mat-icon>
                        {{ 'common.deleteText' | translate }}
                    </button>
                    <button mat-menu-item *ngIf="columnDef.searchOptions.fieldValueType == fieldValueType.Select"
                        (click)="openDatasourceDialogForColumn(columnDef)">
                        <mat-icon color="accent">library_books</mat-icon>
                        {{ 'common.datasourceText' | translate }}
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>
    </mat-expansion-panel>
</mat-accordion>