<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ displayName ? displayName : dynamicList.displayName }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                *ngIf="commandOutList.length > 0 || listOptions.enableExportExcel">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <ng-container *ngFor="let command of commandOutList">
                    <dynamic-list-command [command]="command" (onClick)="onCommandClicked($event)">
                    </dynamic-list-command>
                </ng-container>
                <button mat-menu-item *ngIf="listOptions.enableExportExcel" (click)="callExportExcel()">
                    {{ 'pageRender.dynamicList.render.buttons.exportExcel' | translate }}
                </button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <dynamic-list-grid [dynamicList]="dynamicList" [listOptions]="listOptions" (onClick)="onCommandClicked($event)">
        </dynamic-list-grid>
        <div class="row">
            <div class="col-lg-6 offset-lg-2">
                <action-commands [actionCommands]="section.relatedButtons" [isInSection]="true">
                </action-commands>
            </div>
        </div>
    </mat-card-content>
</mat-card>