::ng-deep .mat-mdc-menu-content {
    padding-top: 3px !important;
    padding-bottom: 0px !important;    
    max-height: 400px; 
    //overflow: scroll;
}

.mat-mdc-menu-item {
    line-height: 35px;
    height: 35px;
}

.non-read{
    font-weight: 500;
}

.period-message{
    color:rgba(0, 0, 0, 0.54)
}