<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ displayName ? displayName : chart.displayName }} &nbsp;
            <!-- <button mat-icon-button *ngIf="hasFilters" (click)="openFilters()" color="primary" matTooltip="Open Filter">
                <mat-icon style="font-size: 25px;">flash_on</mat-icon>
            </button> -->
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="onRefresh()">
                    <mat-icon>cached</mat-icon>
                    {{ 'pageRender.chart.buttons.refresh' | translate }}
                </button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group [dynamicHeight]="true" *ngIf="hasFilters" [(selectedIndex)]="selectedTab">
            <mat-tab label="{{ 'pageRender.chart.tabChart.label' | translate }}">
                <div class="row" *ngIf="chartData else nodata">
                    <div class="col-lg-12" [ngSwitch]="chart.definitions.chartType">
                        <ng-container *ngSwitchCase="chartType.VerticalBarChart">
                            <div style="width: 100%; height: 500px;">
                                <ngx-charts-bar-vertical [results]="chartData" [xAxis]="true" [yAxis]="true"
                                    [showXAxisLabel]="true" [showYAxisLabel]="true" [scheme]="chartColors"
                                    [legend]="true" [legendPosition]="'below'" [showDataLabel]="true"
                                    [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax" *ngIf="isDoneDefer else deferData">
                                </ngx-charts-bar-vertical>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="chartType.LineChart">
                            <div style="width: 100%; height: 500px;">
                                <ngx-charts-line-chart [results]="chartData" [xAxis]="true" [yAxis]="true"
                                    [showXAxisLabel]="true" [showYAxisLabel]="true" [scheme]="chartColors"
                                    [legend]="true" [legendPosition]="'below'" [animations]="true"
                                    [xScaleMin]="xScaleMin" [xScaleMax]="xScaleMax" [yScaleMin]="yScaleMin"
                                    [yScaleMax]="yScaleMax"
                                    [roundDomains]="true"
                                     *ngIf="isDoneDefer else deferData">
                                </ngx-charts-line-chart>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="chartType.NumberCard">
                            <div style="width: 100%; height: 200px;">
                                <ngx-charts-number-card [results]="chartData" [scheme]="chartColors"
                                    *ngIf="isDoneDefer else deferData">
                                </ngx-charts-number-card>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="{{ 'pageRender.chart.tabFilter.label' | translate }}">
                <chart-filter-render [chart]="chart" [chartOptions]="chartOptions" (applied)="applied($event)">
                </chart-filter-render>
            </mat-tab>
        </mat-tab-group>
        <ng-container *ngIf="!hasFilters">
            <div class="row" *ngIf="chartData else nodata">
                <div class="col-lg-12" [ngSwitch]="chart.definitions.chartType">
                    <ng-container *ngSwitchCase="chartType.VerticalBarChart">
                        <div style="width: 100%; height: 100%;">
                            <ngx-charts-bar-vertical [results]="chartData" [xAxis]="true" [yAxis]="true"
                                [showXAxisLabel]="true" [showYAxisLabel]="true" [scheme]="chartColors" [legend]="true"
                                [legendPosition]="'below'" [showDataLabel]="true" [yScaleMin]="yScaleMin"
                                [yScaleMax]="yScaleMax" *ngIf="isDoneDefer else deferData">
                            </ngx-charts-bar-vertical>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="chartType.LineChart">
                        <div style="width: 100%; height: 100%;">
                            <ngx-charts-line-chart [results]="chartData" [xAxis]="true" [yAxis]="true"
                                [showXAxisLabel]="true" [showYAxisLabel]="true" [scheme]="chartColors" [legend]="true"
                                [legendPosition]="'below'" [animations]="true" [xScaleMin]="xScaleMin"
                                [xScaleMax]="xScaleMax" [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax"
                                *ngIf="isDoneDefer else deferData">
                            </ngx-charts-line-chart>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="chartType.NumberCard">
                        <div style="width: 100%; height: 200px;">
                            <ngx-charts-number-card [results]="chartData" [scheme]="chartColors"
                                *ngIf="isDoneDefer else deferData">
                            </ngx-charts-number-card>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <div class="row">
            <div class="col-lg-6 offset-lg-2">
                <action-commands [actionCommands]="section.relatedButtons" [isInSection]="true">
                </action-commands>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <mat-card>
        <mat-card-content>
            <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #nodata>
    {{ 'pageRender.chart.noData' | translate }}
</ng-template>

<ng-template #deferData>
    <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
</ng-template>