<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ displayName ? displayName : chart.displayName }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="onRefresh()">
                    <mat-icon>cached</mat-icon>
                    Refresh
                </button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="align-center">
        <ng-container *ngIf="readyToRender else loading">
            <div class="row" *ngIf="chartData else nodata">
                <div class="col-lg-12" [ngSwitch]="chart.definitions.chartType">
                    <ng-container *ngSwitchCase="chartType.VerticalBarChart">
                        <div style="width: 100%; height: 100%;">
                            <ngx-charts-bar-vertical [results]="chartData" [xAxis]="true" [yAxis]="true"
                                [showXAxisLabel]="true" [showYAxisLabel]="true" [scheme]="chartColors" [legend]="true"
                                [legendPosition]="'below'" [showDataLabel]="true" *ngIf="isDoneDefer else deferData">
                            </ngx-charts-bar-vertical>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="chartType.LineChart">
                        <div style="width: 100%; height: 100%;">
                            <ngx-charts-line-chart [results]="chartData" [xAxis]="true" [yAxis]="true"
                                [showXAxisLabel]="true" [showYAxisLabel]="true" [scheme]="chartColors" [legend]="true"
                                [legendPosition]="'below'" *ngIf="isDoneDefer else deferData">
                            </ngx-charts-line-chart>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="chartType.NumberCard">
                        <div style="width: 100%; height: 200px;">
                            <ngx-charts-number-card [results]="chartData" [scheme]="chartColors"
                                *ngIf="isDoneDefer else deferData">
                            </ngx-charts-number-card>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <mat-card>
        <mat-card-content>
            <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
        </mat-card-content>
    </mat-card>
</ng-template>

<ng-template #nodata>
    No data
</ng-template>

<ng-template #deferData>
    <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
</ng-template>