name: Publish LETPortal.Core Lib

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
      - 'src/web-apis/LetPortal.Core/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Publish NuGet
      uses: rohith/publish-nuget@v2.1.2
      with:
        # Filepath of the project to be packaged, relative to root of repository
        PROJECT_FILE_PATH: ./src/web-apis/LetPortal.Core/LetPortal.Core.csproj
        # API key for the NuGet feed
        NUGET_KEY: ${{ secrets.NugetPublishKey }}
